@model MainGroupPageViewModel

@{
    Layout = "_Layout";
}





<div class="row" style="text-align: left">
    <div class="col">
        <a class="nav-link text-light" asp-area="" asp-controller="Group" asp-action="CreateGroup">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">  
                Создать группу
            </button>
        </a>
    </div>
    
    <div class="col">
        <form class="form-signin" asp-action="InviteLink" asp-controller="Group" asp-antiforgery="true">
             <div class="child">
                 <!-- Email input -->
                 <div class="child-child">
                     <input class="form-control" asp-for="Link" placeholder="Пригласительная ссылка"/>
                     <span asp-validation-for="Link"/>
                 </div>
                 
                 <div class="child-child">
                     <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Ввести</button>
                 </div>
             </div>
         </form>
    </div>
</div>


@{
    int groupingsNewProducts = 3;
    var groupedNewProducts = Model.UserGroups
      .Select((x, i) =>
        new
        {
          x, i = i / groupingsNewProducts
        })
      .GroupBy(x => x.i, x => x.x);
  }

@{
    if (Model.UserGroups.Count > 0)
    {
          @foreach (var items in groupedNewProducts)
          {
              <div class="row" style="margin-top: 20px">
                @foreach (var item in items)
                {
                    <div class="col">
                        <div class="card" style="width: 30rem; border-radius: 25px">
                            <div style="margin: 5px">
                                
                                <div class="row">
                                    <div class="right" style="margin-right: 10px; text-align: right">
                                        @if (item.IsAdmin)
                                        {
                                            <span class="badge badge-primary" style="width: 95px; height: 20px; margin: 15px">Админ</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-secondary" style="width: 95px; height: 20px; margin: 15px">Участник</span>
                                        }
                                    </div>
                                </div>

                                <div class="card-body" style="margin-top: 30px;">
                                    <h5 class="card-title" style="text-align: center;">@item.Group.Name</h5>
                                    <p class="card-text" style="text-align: left;">@item.Group.Description</p>


                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-md-5">
                                            <a asp-area="" asp-route-id="@item.Id" asp-controller="Group" asp-action="GroupPage">
                                                <button class="btn btn-primary" type="submit">
                                                    Перейти к группе
                                                </button>
                                            </a>
                                        </div>
                                        <div class="right" style="margin-right: 10px; text-align: right">
                                             <p class="card-text" style="text-align: left;">Количество проектов в группе: @item.Group.Projects.Count</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                }
              </div>
          }
    }
    else
    {
        <h5 class="personal-data__data-title" style="margin-top: 40px; margin-left: 15px">В группах пусто</h5>
    }
}
